<pe-layout-app [headerTransparent]="false" [noPadding]="true">
  <pe-layout-header header [showBackButton]="false">
    <div col-center>
      <div class="modal-title">
        <svg class="icon icon-24"><use xlink:href="#icon-checkbox-checked-24"></use></svg>
      </div>
    </div>
    <div col-right>
      <button
        mat-icon-button
        [class.mat-button-no-padding]="true"
        color="primary"
        (click)="onOpenCreateCouponDialog()"
      >
        <svg class="icon icon-16"><use xlink:href="#icon-plus-16"></use></svg>
      </button>
    </div>
  </pe-layout-header>
  <router-outlet></router-outlet>
</pe-layout-app>
