.form-group {

  &__wrapper {
    border-radius: 1em;
    margin-top: 1.25em;
    overflow: hidden;

    ::ng-deep pe-coupons-form-field {

      &:first-child .form-field__flex {
        margin-top: 0;
      }

      &:not(:first-child) .form-field__flex {
        margin-top: 0.0625em;
      }

      .form-field__flex {
        border-radius: 0;
      }
    }
  }

  &__subscript {
    color: #7a7a7a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.38;
    margin-top: 0.8125em;
  }
}