<div class="wrapper">
  <span class="title">Create discount code</span>
  <form [formGroup]="couponForm">

    <!-- DOSCOUNT CODE START -->
    <pe-coupons-form-group>
      <pe-coupons-label>Discount code</pe-coupons-label>
      <pe-coupons-form-field>
        <pe-coupons-input type="text" placeholder="e.g. SPRINGSALE" formControlName="code"></pe-coupons-input>
        <pe-coupons-suffix>
          <button (click)="generateCode()" [disabled]="couponForm.get('code').disabled">Generate code</button>
        </pe-coupons-suffix>
      </pe-coupons-form-field>
      <pe-coupons-subscript>Customers will enter this discount code at checkout.</pe-coupons-subscript>
    </pe-coupons-form-group>
    <!-- DISCOUNT CODE END -->

    <!-- TYPES START  -->
    <pe-coupons-form-group formGroupName="type">
      <pe-coupons-label>Types</pe-coupons-label>
      <pe-coupons-form-field *ngFor="let item of types">
        <pe-coupons-radio formControlName="type" name="type" [value]="item.value">{{ item.label }}</pe-coupons-radio>
      </pe-coupons-form-field>
    </pe-coupons-form-group>
    <!-- TYPES END -->

    <!-- CUSTOMER BUYS START -->
    <ng-container *ngIf="couponForm.value.type.type === 'BUY_X_GET_Y'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>
          Customer
          <ng-container *ngIf="couponForm.value.type.buyRequirementType === 'MINIMUM_QUANTITY_OF_ITEMS'">buys</ng-container>
          <ng-container *ngIf="couponForm.value.type.buyRequirementType === 'MINIMUM_PURCHASE_AMOUNT'">spends</ng-container>
        </pe-coupons-label>
        <pe-coupons-form-field *ngFor="let item of buyRequirementType">
          <pe-coupons-radio formControlName="buyRequirementType" name="buyRequirementType" [value]="item.value">{{ item.label }}</pe-coupons-radio>
        </pe-coupons-form-field>
        <pe-coupons-form-field>
          <pe-coupons-input formControlName="buyQuantity" type="text" placeholder="Enter value" style="margin-right: 12px; max-width: 325px; width: 69%;"></pe-coupons-input>
          <pe-coupons-select formControlName="buyType" [options]="buyOrGetType"></pe-coupons-select>
        </pe-coupons-form-field>
        <ng-container 
          *ngIf="couponForm.value.type.buyType === 'SPECIFIC_PRODUCTS'"
          [ngTemplateOutlet]="searchProducts"
          [ngTemplateOutletContext]="{ control: couponForm.get('type').get('buyProducts') }"
        ></ng-container>
        <ng-container 
          *ngIf="couponForm.value.type.buyType === 'SPECIFIC_COLLECTIONS'"
          [ngTemplateOutlet]="searchCollections"
          [ngTemplateOutletContext]="{ control: couponForm.get('type').get('buyCollections') }"
        ></ng-container>
      </pe-coupons-form-group>
    </ng-container>
    <!-- CUSTOMER BUYS END -->

    <!-- CUSTOMER GETS START -->
    <ng-container *ngIf="couponForm.value.type.type === 'BUY_X_GET_Y'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Customer gets</pe-coupons-label>
        <pe-coupons-form-field>
          <pe-coupons-input formControlName="getQuantity" type="text" placeholder="Enter value" style="margin-right: 12px; max-width: 325px; width: 69%;"></pe-coupons-input>
          <pe-coupons-select formControlName="getType" [options]="buyOrGetType"></pe-coupons-select>
        </pe-coupons-form-field>
        <ng-container 
          *ngIf="couponForm.value.type.getType === 'SPECIFIC_PRODUCTS'"
          [ngTemplateOutlet]="searchProducts"
          [ngTemplateOutletContext]="{ control: couponForm.get('type').get('getProducts') }"
        ></ng-container>
        <ng-container 
          *ngIf="couponForm.value.type.getType === 'SPECIFIC_COLLECTIONS'"
          [ngTemplateOutlet]="searchCollections"
          [ngTemplateOutletContext]="{ control: couponForm.get('type').get('getCollections') }"
        ></ng-container>
        <pe-coupons-subscript>Customers must add the quantity of items specified below to their cart.</pe-coupons-subscript>
      </pe-coupons-form-group>
    </ng-container>
    <!-- CUSTOMER GETS END -->

    <!-- AT A DISCOUNT VALUE START -->
    <ng-container *ngIf="couponForm.value.type.type === 'BUY_X_GET_Y'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>At a discounted value</pe-coupons-label>
        <pe-coupons-form-field *ngFor="let item of atADiscountedValue">
          <pe-coupons-radio formControlName="getDiscountType" name="getDiscountType" [value]="item.value">{{ item.label }}</pe-coupons-radio>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- AT A DISCOUNT VALUE END -->

    <!-- DISCOUNT VALUE AND SET PERCENTAGE START -->
    <ng-container 
      *ngIf="couponForm.value.type.type === 'PERCENTAGE' 
        || couponForm.value.type.type === 'FIXED_AMOUNT' 
        || couponForm.value.type.type === 'BUY_X_GET_Y' && couponForm.value.type.getDiscountType === 'PERCENTAGE'"
    >
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label *ngIf="couponForm.value.type.type === 'BUY_X_GET_Y'; then thenDiscountValue else elseDiscountValue"></pe-coupons-label>
        <ng-template #thenDiscountValue>Set percentage</ng-template>
        <ng-template #elseDiscountValue>Discount value</ng-template>
        <pe-coupons-form-field>
          <pe-coupons-input *ngIf="couponForm.value.type.type !== 'BUY_X_GET_Y'" type="text" placeholder="Enter value" formControlName="discountValue"></pe-coupons-input>
          <pe-coupons-input *ngIf="couponForm.value.type.type === 'BUY_X_GET_Y'" type="text" placeholder="Enter value" formControlName="getDiscountValue"></pe-coupons-input>
          <pe-coupons-suffix>
            <span *ngIf="couponForm.value.type.type === 'PERCENTAGE' || couponForm.value.type.type === 'BUY_X_GET_Y'">Percentage (%)</span>
            <span *ngIf="couponForm.value.type.type === 'FIXED_AMOUNT'">Dollars ($)</span>
          </pe-coupons-suffix>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- DISCOUNT VALUE AND SET PERCENTAGE END -->

    <!--  -->
    <ng-container *ngIf="couponForm.value.type.type === 'BUY_X_GET_Y'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-form-field>
          <pe-coupons-checkbox formControlName="maxUsesPerOrder">Set a maximum number of uses per order</pe-coupons-checkbox>
        </pe-coupons-form-field>
        <pe-coupons-form-field *ngIf="couponForm.value.type.maxUsesPerOrder">
          <pe-coupons-input type="text" placeholder="Enter value" formControlName="maxUsesPerOrderValue"></pe-coupons-input>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!--  -->

    <!-- COUNTRIES START -->
    <ng-container *ngIf="couponForm.value.type.type === 'FREE_SHIPPING'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Countries</pe-coupons-label>
        <pe-coupons-form-field *ngFor="let item of freeShippingType">
          <pe-coupons-radio formControlName="freeShippingType" name="freeShippingType" [value]="item.value">{{ item.label }}</pe-coupons-radio>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- COUNTRIES END -->

    <!-- ADD COUNTRIES START -->
    <ng-container *ngIf="couponForm.value.type.freeShippingType === 'SELECTED_COUNTRIES'">
      <pe-coupons-form-group>
        <pe-coupons-label>Add countries</pe-coupons-label>
        <pe-coupons-form-field>
          <pe-coupons-autocomplete 
            placeholder="Search countries" 
            [items]="countries" 
            (onSelected)="addToArray($event, couponForm.value.type.freeShippingToCountries)">
          </pe-coupons-autocomplete>
          <pe-coupons-suffix>
            <button>Add Country</button>
          </pe-coupons-suffix>
        </pe-coupons-form-field>
        <pe-coupons-list>
          <pe-coupons-list-item 
            *ngFor="let countryId of couponForm.value.type.freeShippingToCountries; let i = index"
            (onRemove)="removeFromArray(couponForm.value.type.freeShippingToCountries, i)"
          >{{ getFromArray(countries, countryId)?.title }}</pe-coupons-list-item>
        </pe-coupons-list>
      </pe-coupons-form-group>
    </ng-container>
    <!-- ADD COUNTRIES END -->

    <!-- SHIPPING RATES -->
    <ng-container *ngIf="couponForm.value.type.type === 'FREE_SHIPPING'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Shipping rates</pe-coupons-label>
        <pe-coupons-form-field>
          <pe-coupons-checkbox formControlName="excludeShippingRatesOverCertainAmount">Exclude shipping rates over a certain amount</pe-coupons-checkbox>
        </pe-coupons-form-field>
        <pe-coupons-form-field *ngIf="couponForm.value.type.excludeShippingRatesOverCertainAmount">
          <pe-coupons-input formControlName="excludeShippingRatesOverCertainAmountValue" type="text" placeholder="Enter value"></pe-coupons-input>
          <pe-coupons-suffix>
            <span>Dollars ($)</span>
          </pe-coupons-suffix>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- SHIPPING RATES -->

    <!-- APPLIES TO START -->
    <ng-container *ngIf="couponForm.value.type.type === 'PERCENTAGE' || couponForm.value.type.type === 'FIXED_AMOUNT'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Applies to</pe-coupons-label>
        <pe-coupons-form-field *ngFor="let item of appliesTo">
          <pe-coupons-radio formControlName="appliesTo" name="appliesTo" [value]="item.value">{{ item.label }}</pe-coupons-radio>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- APPLIES TO END -->

    <!-- ADD COLLECTIONS START -->
    <ng-container *ngIf="couponForm.value.type.appliesTo === 'SPECIFIC_COLLECTIONS'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Add collections</pe-coupons-label>
        <ng-container 
          [ngTemplateOutlet]="searchCollections"
          [ngTemplateOutletContext]="{ control: couponForm.get('type').get('appliesToCollections') }"
        ></ng-container>
      </pe-coupons-form-group>
    </ng-container>
    <!-- ADD COLLECTIONS END -->

    <!-- ADD PRODUCTS START -->
    <ng-container *ngIf="couponForm.value.type.appliesTo === 'SPECIFIC_PRODUCTS'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Add products</pe-coupons-label>
        <ng-container
          [ngTemplateOutlet]="searchProducts" 
          [ngTemplateOutletContext]="{ control: couponForm.get('type').get('appliesToProducts') }"
        ></ng-container>
      </pe-coupons-form-group>
    </ng-container>
    <!-- ADD PRODUCTS END -->

    <!-- MINIMUM REQUIREMENTS START -->
    <ng-container *ngIf="couponForm.value.type.type !== 'BUY_X_GET_Y'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Minimum requirements</pe-coupons-label>
        <pe-coupons-form-field *ngFor="let item of minimumRequirements">
          <pe-coupons-radio formControlName="minimumRequirements" name="minimumRequirements" [value]="item.value">{{ item.label }}</pe-coupons-radio>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- MINIMUM REQUIREMENTS END -->

    <!-- MINIMUM PURCHASE AMOUNT START -->
    <ng-container *ngIf="couponForm.value.type.minimumRequirements === 'MINIMUM_PURCHASE_AMOUNT'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Minimum purchase amount</pe-coupons-label>
        <pe-coupons-form-field>
          <pe-coupons-input type="text" placeholder="Enter value" formControlName="minimumRequirementsValue"></pe-coupons-input>
          <pe-coupons-suffix>
            <span>Dollars ($)</span>
          </pe-coupons-suffix>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- MINIMUM PURCASE AMOUNT END -->

    <!-- MINIMUM QUANTITY OF ITEMS START -->
    <ng-container *ngIf="couponForm.value.type.minimumRequirements === 'MINIMUM_QUANTITY_OF_ITEMS'">
      <pe-coupons-form-group formGroupName="type">
        <pe-coupons-label>Minimum quantity of items</pe-coupons-label>
        <pe-coupons-form-field>
          <pe-coupons-input type="text" placeholder="Enter value" formControlName="minimumRequirementsValue"></pe-coupons-input>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- MINIMUM QUANTITY OF ITEMS END -->

    <!-- CUSTOMER ELIGIBILITY START -->
    <pe-coupons-form-group>
      <pe-coupons-label>Customer eligibility</pe-coupons-label>
      <pe-coupons-form-field *ngFor="let item of customerEligibility">
        <pe-coupons-radio formControlName="customerEligibility" name="customerEligibility" [value]="item.value">{{ item.label }}</pe-coupons-radio>
      </pe-coupons-form-field>
    </pe-coupons-form-group>
    <!-- CUSTOMER ELIGIBILITY END -->

    <!-- ADD GROUPS OF CUSTOMER START -->
    <pe-coupons-form-group *ngIf="couponForm.value.customerEligibility === 'SPECIFIC_GROUPS_OF_CUSTOMERS'">
      <pe-coupons-label>Add groups of customers</pe-coupons-label>
      <pe-coupons-form-field>
        <pe-coupons-autocomplete
          placeholder="Search groups of customers" 
          [items]="groupsOfCustomers"
          (onSelected)="addToArray($event, couponForm.value.customerEligibilityCustomerGroups)"
        ></pe-coupons-autocomplete>
        <pe-coupons-suffix>
          <button>Add Group</button>
        </pe-coupons-suffix>
      </pe-coupons-form-field>
      <pe-coupons-list>
        <pe-coupons-list-item 
          *ngFor="let groupId of couponForm.value.customerEligibilityCustomerGroups; let i = index"
          (onRemove)="removeFromArray(couponForm.value.customerEligibilityCustomerGroups, i)"
        >{{ getFromArray(groupsOfCustomers, groupId)?.title }}</pe-coupons-list-item>
      </pe-coupons-list>
    </pe-coupons-form-group>
    <!-- ADD GROUPS OF CUSTOMER END -->

    <!-- ADD CUSTOMERS START -->
    <pe-coupons-form-group *ngIf="couponForm.value.customerEligibility === 'SPECIFIC_CUSTOMERS'">
      <pe-coupons-label>Add customers</pe-coupons-label>
      <pe-coupons-form-field>
        <pe-coupons-autocomplete 
          placeholder="Search customers" 
          [items]="customers" 
          (onSelected)="addToArray($event, couponForm.value.customerEligibilitySpecificCustomers)">
        </pe-coupons-autocomplete>
        <pe-coupons-suffix>
          <button>Add Customer</button>
        </pe-coupons-suffix>
      </pe-coupons-form-field>
      <pe-coupons-list>
        <pe-coupons-list-item 
          *ngFor="let customerId of couponForm.value.customerEligibilitySpecificCustomers; let i = index"
          (onRemove)="removeFromArray(couponForm.value.customerEligibilitySpecificCustomers, i)"
        >{{ getFromArray(customers, customerId)?.title }}</pe-coupons-list-item>
      </pe-coupons-list>
    </pe-coupons-form-group>
    <!-- ADD CUSTOMER END -->

    <!-- USAGE LIMITS START -->
    <pe-coupons-form-group formGroupName="limits">
      <pe-coupons-label>Usage limits</pe-coupons-label>

      <pe-coupons-form-field>
        <pe-coupons-checkbox formControlName="limitUsage">Limit number of times this discount can be used in total</pe-coupons-checkbox>
      </pe-coupons-form-field>

      <pe-coupons-form-field>
        <pe-coupons-checkbox formControlName="limitOneUsePerCustomer">Limit to one use per customer</pe-coupons-checkbox>
      </pe-coupons-form-field>

    </pe-coupons-form-group>
    <!-- USAGE LIMITS END -->

    <!-- LIMIT NUMBER OF TIMES START -->
    <ng-container *ngIf="couponForm.value.limits.limitUsage">
      <pe-coupons-form-group formGroupName="limits">
        <pe-coupons-label>Limit number of times this discount can be used in total</pe-coupons-label>
        <pe-coupons-form-field>
          <pe-coupons-input type="text" placeholder="Enter value" formControlName="limitUsageAmount"></pe-coupons-input>
        </pe-coupons-form-field>
      </pe-coupons-form-group>
    </ng-container>
    <!-- LIMIT NUMBER OF TIMES END -->

    <!-- ACTIVE DATES START -->
    <pe-coupons-form-group>
      <pe-coupons-label>Active dates</pe-coupons-label>

      <pe-coupons-form-field>
        <pe-coupons-prefix>
          <pe-coupons-icon-date></pe-coupons-icon-date>
        </pe-coupons-prefix>
        <pe-coupons-input type="text" placeholder="{{ startDatePlaceholder | date: 'yyyy-MM-dd'}}" formControlName="startDate"></pe-coupons-input>
        <pe-coupons-suffix>
          <span>Set start date</span>
        </pe-coupons-suffix>
      </pe-coupons-form-field>

      <pe-coupons-form-field>
        <pe-coupons-checkbox formControlName="setEndDate" [value]="true">Set end date</pe-coupons-checkbox>
      </pe-coupons-form-field>

      <pe-coupons-form-field *ngIf="couponForm.get('setEndDate').value">
        <pe-coupons-prefix>
          <pe-coupons-icon-date></pe-coupons-icon-date>
        </pe-coupons-prefix>
        <pe-coupons-input type="text" placeholder="{{ endDatePlaceholder | date: 'yyyy-MM-dd'}}" formControlName="endDate"></pe-coupons-input>
        <pe-coupons-suffix>
          <span>Set end date</span>
        </pe-coupons-suffix>
      </pe-coupons-form-field>

    </pe-coupons-form-group>
    <!-- ACTIVE DATES END -->

    <!-- CHANNELS START -->
    <!-- <pe-coupons-form-group>
      <pe-coupons-label>Channels</pe-coupons-label>

      <pe-coupons-form-field>
        <pe-coupons-prefix>
          <pe-coupons-icon-point-of-sale></pe-coupons-icon-point-of-sale>
        </pe-coupons-prefix>
        <span style="padding: 9px 0;">Point of Sale</span>
        <pe-coupons-suffix>
          <pe-coupons-slide-toggle></pe-coupons-slide-toggle>
        </pe-coupons-suffix>
      </pe-coupons-form-field>

    </pe-coupons-form-group> -->
    <!-- CHANNELS END -->

    <button class="submit" (click)="onSubmit()">Save coupon</button>

  </form>
</div>

<ng-template #searchProducts let-control="control">
  <pe-coupons-form-field>
    <pe-coupons-autocomplete 
      placeholder="Search products"
      [items]="products"
      (onSelected)="addToArray($event, control.value)">
    </pe-coupons-autocomplete>
    <pe-coupons-suffix>
      <button>Browse</button>
    </pe-coupons-suffix>
  </pe-coupons-form-field>
  <pe-coupons-list>
    <pe-coupons-list-item 
      *ngFor="let productId of control.value; let i = index"
      (onRemove)="removeFromArray(control.value, i)"
    >
      <img [src]="getFromArray(products, productId).imagesUrl[0]" alt="" width="38" height="38" style="object-fit: cover; margin: -9px 12px -9px 0; border-radius: 8px;">
      {{ getFromArray(products, productId)?.title }}
    </pe-coupons-list-item>
  </pe-coupons-list>
</ng-template>

<ng-template #searchCollections let-control="control">
  <pe-coupons-form-field>
    <pe-coupons-autocomplete 
      placeholder="Search collections"
      [items]="collections"
      (onSelected)="addToArray($event, control.value)">
    </pe-coupons-autocomplete>
    <pe-coupons-suffix>
      <button>Browse</button>
    </pe-coupons-suffix>
  </pe-coupons-form-field>
  <pe-coupons-list>
    <pe-coupons-list-item 
      *ngFor="let collectionId of control.value; let i = index"
      (onRemove)="removeFromArray(control.value, i)"
    >{{ getFromArray(collections, collectionId)?.title }}</pe-coupons-list-item>
  </pe-coupons-list>
</ng-template>