<form novalidate class="form-table" (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">

  <div class="row">
    <div class="col-xs-12">
      <pe-form-fieldset
        [isSubmitted]="isSubmitted"
        [fields]="mainFieldSet"
        [formGroup]="form"
        [translationScope]="formTranslationsScope"
        [errors]="errors$ | async"
        [formStyle]="'default'"
        [hideDisabled]="true"
      ></pe-form-fieldset>
    </div>
  </div>

  <button
    mat-button
    color="primary"
    [class.pull-right]="true"
    [class.mat-button-link]="true"
    [class.mat-button-bold]="true"
    (submit)="onSubmit()"
  >
    Save
  </button>

</form>
