.pe-coupons-expansion-panel {
  &-header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 19px 32px;

    ::ng-deep &-title {
      color: #f5f5f7;
      font-size: 20px;
      font-weight: bold;
      line-height: 0.9;
      margin-right: 16px;
    }
  }

  &-indicator {
    height: 18px;
    position: relative;
    width: 18px;
    transform: rotate(0);

    transition: transform 300ms cubic-bezier(.4, 0, .2, 1);

    .shape {
      background-color: #ffffff;
      height: 2px;
      width: 18px;
      position: absolute;
      top: 8px;
      left: 0;

      &:last-of-type {
        transform: rotate(90deg);

        transition: transform 300ms cubic-bezier(.4, 0, .2, 1);
      }
    }

    &.open {
      transform: rotate(180deg);

      .shape {

        &:last-of-type {
          transform: rotate(0);
        }
      }
    }
  }

  &-content {
    padding: 0 16px;
    opacity: 0;
    overflow: hidden;

    transition: opacity 450ms cubic-bezier(.4, 0, .2, 1);

    &.open {
      opacity: 1;
    }

    ::ng-deep pe-coupons-expansion-panel-content {
      display: block;
      margin-bottom: 20px;
    }
  }
}