
:host {
  padding: 8px 18px 8px 8px;
  position: relative;
}

.form-field {

  &__infix {
    align-items: center;
    display: flex;

    ::ng-deep span {
      color: rgba(255, 255, 255, 0.95);
      font-size: 20px;
      line-height: 1.1;
      width: 100%;
    }
  }

  &__prefix {
    margin-left: 10px;
    margin-right: 12px;
  }

  // TODO: remove ng-deep
  ::ng-deep &__suffix {
    margin-left: 18px;

    button,
    span {
      font-size: 20px;
      line-height: 1.1;
      white-space: nowrap;
    }

    button {
      background-color: transparent;
      cursor: pointer;
      color: #0091df;
      padding: 0;
    }

    span {
      color: #fff;
    }
  }
}
